:root {
   --button-bg: teal;
   --button-bg-hover: orange;
   --font-rigtheous: 'Righteous', cursive;
   --font-bold-400: 400;
   --page-color: hsl(229, 76%, 66%);
   --color-primary: hsl(216, 15%, 52%);
   --line-border: 0 2px 2px -2px rgb(0 0 0 / 15%);
   --title-color: hsl(216, 15%, 52%);
   --display-flex: flex;
   --justify-content: space-between;
   --heat-color: hsl(218, 23%, 23%);
   --animate-duration: 2s;
   --right-box: 2px 2px 5px 2px #e6e4e4;
}
.animate__flipInX,
.animate__flipInY{
   --animate-duration: 2s;
}
.social-container {
   margin: 0 auto;
   margin-top: 20px;
   margin-bottom: 20px;
}

.social-container a {
   border: 1px solid #DDDDDD;
   border-radius: 50%;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   margin: 0 5px;
   height: 40px;
   width: 40px;
   color: black;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}

body {
   font-family: var(--font-rigtheous);
}

.main {
   background-color: hsl(0, 0%, 97%);
   width: 100%;
   height: auto;
}
.material-symbols-outlined {
   font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
}

/* NAVBAR STYLING STARTS */
.nav {
   box-shadow: var(--line-border);
}

.navbar {
   display: var(--display-flex);
   /* align-items: center; */
   justify-content: var(--justify-content);
   padding-top: 20px;
   background: rgba(255, 255, 255, .97);
   width: 90%;
   margin: 0 auto;
   z-index: 1;
}

.nav-links a {
   color: var(--color-primary);
}

.profile-pic {
   display: var(--display-flex);
   align-items: center;
}

/* image qui bouge */
.pumpkin img {
   height: 80px;
   width: 80px;
   position: absolute;
   left: 70%;
   bottom: 30%;
   animation: animate 1s linear infinite;
}

@keyframes animate {
   0% {
      transform: translateY(20px);

   }

   50% {
      transform: translateY(10px);

   }

   100% {
      transform: translateY(20px);
   }
}

.insect img{
   position: absolute;
   left: 20rem;
   height: 100px;
   width: 100px;
   padding: 0;
   bottom: -230px;
   animation: bat 1.5s linear infinite;
}

@keyframes bat {
   0% {
      transform: translateY(20px);
      transform: rotate(45deg);
   }

   50% {
      transform: translateY(10px);
      transform: rotate(-45deg);
   }

   100% {
      transform: translateY(20px);
      transform: rotate(45deg);
   }
}

.profile-pic img {
   width: 30px;
   /* border: 0.5px solid #000; */
   border-radius: 50%;
   margin-right: 10px;
}

/* LOGO */
.logo img {
   width: 50px;
   vertical-align: middle;
   
}
.search{
   padding: 3px 8px;
   border-radius: 10px;
}
.search input,
::placeholder{
   border: none;
   color: var(--color-primary);
   outline: none;
   font-family: var(--font-rigtheous);
}
.logo {
   font-size: 2rem;
   font-weight: var(--font-bold-400);
   line-height: 1.1;
   color: hsl(218, 23%, 23%);
   /* margin-left: 1rem; */
   display: var(--display-flex);
   align-items: center;
}

/* NAVBAR MENU */
.menu {
   display: var(--display-flex);
   gap: 1em;
   font-size: 18px;
}

.menu li:hover {
   background-color: #fff;
   border-radius: 5px;
   transition: 0.3s ease;
}

.menu li {
   padding: 5px 14px;
   color: rgba(0, 0, 0, .9);
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox],
.menu-side {
   display: none;
}

/*HAMBURGER MENU*/
.hamburger {
   display: none;
   font-size: 24px;
   user-select: none;
}

/* hero section */
.hero {
   width: 100%;
   background-color: rgba(255, 255, 255, .97);
   color: var(--title-color);
}

.hero-blog {
   width: 90%;
   margin: 0 auto;
   padding: 1rem 0rem;
   margin-top: 2rem;
   line-height: 2;
   height: 300px;
}

.hero-blog p {
   color: var(--page-color);
}

.hero-blog h1 {
   font-size: 5rem;
   font-weight: normal;
}

.hero-btn,
.header-btn {
   padding: 10px;
   border: none;
   color: #fff;
   width: 150px;
   border-radius: 20px;
   margin: 0 auto;
}

.header-btn:hover,
.hero-btn {
   background: var(--button-bg);
}

.header-btn a {
   color: #fff;
}

.hero-btn:hover,
.header-btn {
   background-color: var(--button-bg-hover);
}


/* end hero */
/* featured */
.container-Featured {
   width: 90%;
   margin: 0 auto;
   margin-bottom: 4rem;
}

.container-Featured h1,
.story h1 {
   box-shadow: var(--line-border);
}

h1 {
   color: var(--heat-color);
}

.story p {
   color: var(--heat-color);
}

.container-Featured .card {
   display: var(--display-flex);
   height: 100px;
   /* justify-content: var(--justify-content); */
   width: 320px;
   margin-bottom: 20px;
}

.container-Featured .blog {
   display: grid;
   grid-template-columns: auto auto auto;
   margin-top: 4rem;
}

.container-Featured .number {
   color: var(--color-primary);
   font-size: 1rem;
   font-weight: var(--font-bold-400);
   margin-right: 20px;
   background-color: #a3a2a2;
   height: 30px;
   width: 30px;
   padding: 5px;
   display: flex;
   align-items: center;
   border-radius: 50%;
}

.profile-pic {
   font-size: 15px;
}
.profile-pic{
   color: var(--heat-color);
}

.date,
.title a,
span {
   color: var( --page-color);
}

.title a,
.date {
   font-style: 2rem;
}
.date .topic{
   color: var(--heat-color);
}
.date{
   margin-top: 5px;
}
/* container */
.story {
   margin-top: 5rem;
   width: 90%;
   margin: 0 auto;
}

.container {
   margin-top: 1rem;
}

.left {
   margin-top: 2rem;
   width: 60%;
   position: relative;
}

.comment_pic{
   width: 100px;
   border: 1px;
   background-color: #eeecec;
}

.left .card {
   line-height: 2;
   align-items: center;
   margin-bottom: 2rem;
   background-color: #fff;
   border-radius: 10px;
   padding: 20px;
}

.left .card .title a {
   color: var(--title-color);
}
.search,
.container,
.left .card,
.date {
   display: var(--display-flex);
   justify-content: var(--justify-content);
}

.right {
   width: 30%;
   /* position: absolute; */
   display: flex;
   text-align: center;
}

.right h1 {
   box-shadow: none;
   margin-bottom: 1rem;
}

/* wrapper */
.right .wrapper,
.right .wrap {
   display: flex;
   flex-wrap: wrap;
   width: 80%;
   box-shadow: var(--line-border);
   color: var(--heat-color);
   margin-top: 4rem;
}

.right .wrapper {
   background-color: #fff;
   padding: 30px;
   box-shadow: 5px 2px 8px 5px #a3a2a2;
   border-radius: 10px;
   width: 100%;
}

/* topic */
.right .topics {
   margin-bottom: 4rem;
}

.right .topics .topic-btn {
   display: var(--display-flex);
   align-items: center;
}

.right .topics .topic-btn span {
   background: hsl(214, 20%, 69%);
   background-color: var(--color-primary);
   border-radius: 10px 0 0 10px;
   width: 80px;
}

.right .topics .topic-btn span,
.right .topics .topic-btn p {
   box-shadow: var(--right-box);
   padding: 15px;
   margin-top: 20px;
}

.right .topics .topic-btn p {
   width: 100%;
   border-radius: 0 10px 10px 0;
   background-color: #fff;
}

.right .topics .topic-btn span:hover {
   background-color: var(--button-bg);
   color: #fff;
}

/* wrap */
.right .wrap span {
   padding: 10px;
   margin: 5px;
}

.right .wrap {
   margin-top: 4rem;
}

.hashtag {
   padding: 10px;
   margin: 5px;
   background-color: var(--button-bg-hover);
   border: none;
   border-radius: 20px;
}

.hashtag a {
   color: #fff;
}

.wrapper button:hover {
   background-color: var(--button-bg);
}

.copyright {
   text-align: center;
   padding: 10px;
   width: 100%;
   background: rgba(255, 255, 255, .97);
}

.right  span a,
.copyright,
.copyright a {
   color: var(--color-primary);
}



@media (max-width: 768px) {
   .insect img{
      top: 950px;
      left: 0rem;
      opacity: 1;
   }
   .navbar {
      width: 95%;
   }

   .menu {
      display: none;
      position: absolute;
      background: rgba(82, 77, 77, 0.97);
      box-shadow: var(--line-border);
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
      text-align: left;
      transition: 0.3s ease;
   }

   .menu li:hover {
      display: inline-block;
      background-color: #fff;
      transition: 0.3s ease;
   }

   .menu li+li {
      margin-top: 12px;

   }

   input[type=checkbox]:checked~.menu {
      display: block;
   }

   .hamburger {
      height: 40px;
      width: 50px;
      display: block;
      padding: 5px;
      border-radius: 20px;
      text-align: center;
      cursor: pointer;
      color: var(--font-bold-400);
   }

   /* hero */
   .hero {
      text-align: center;
      height: 200px;
   }

   .hero-blog h1 {
      font-size: 2rem;
      font-weight: lighter;
   }

   /* featured */
   .container-Featured .blog,
   .container {
      display: block;
      width: 100%;
   }
   .container-Featured .card{
      width: 100%;
   }
  
   /* container */
   .left {

      margin-bottom: 4rem;
      width: 100%;
   }

   .left .card {
      line-height: 1;
      font-size: 12px;
   }
   .left .card p{
      display: none;
  }
  .card .title{
   margin-top: 5px;
  }
  .date{
   margin-top: 5px;
  }
   .comment_pic {
      width: 100px;
   }

   .right {
      margin-top: 2rem;
      width: 100%;
   }

   .right .wrap {
      margin: 0 auto;
      margin-top: 4rem;
      margin-bottom: 2rem;
   }

}